@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.nameEdit {
    text-align: right;
}

.profileNameContainer {
    display: flex;
}

.notConnected {
    text-align: left;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.profNav {
    text-align: center;
    margin-top: 20px;

    .proflinks {
        text-decoration: none;
        color: black;
    }
}
