@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.profileContainer {
    display: flex;
    align-items: center;

    .profleft {
        flex: 1;
        margin-top: 25px;
        margin-left: 15px;

        .profilePicture {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 0 4px rgb(75, 75, 75);
            background-color: white;
        }

        .profileName {
            font-size: 20px;
            font-weight: bold;
            color: rgb(58, 58, 58);
            margin-top: 5px;
            text-align: center;
            width: 125px;
        }
    }

    .profcenter {
        flex: 4;
        text-align: center;

        .profText {
            font-family: "Roboto Mono", monospace;
            font-size: 25px;
            margin-right: 100px;

            .profPoint {
                size: 30px;
                margin-left: 10px;
                color: brown;
            }
        }
    }

    .profright {
        flex: 1;
        text-align: right;
        margin-right: 30px;

        .profConnected {
            color: rgb(0, 255, 0);
            margin-left: 10px;
            margin-bottom: 4px;
        }
    }
}

.nameEdit {
    text-align: right;
}

.profileNameContainer {
    display: flex;
}

.notConnected {
    text-align: left;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.profNav {
    text-align: center;
    margin-top: 20px;

    .proflinks {
        text-decoration: none;
        color: black;
    }
}

.profileBan {
    height: 200px;
    background-color: rgb(196, 126, 126);
}
