.achievements-card
{
    background-color: rgb(66, 66, 66);
    border-radius: 20px;
    text-align: center;

    .title
    {
        color: white;
    }

    .desc
    {
        color: grey;
    }
}