.achContainer
{
    color: white;
    display: flex;
    vertical-align: middle;

    h1
    {
        color: rgb(187, 187, 187);
        font-family: 'Josefin Sans', sans-serif;
        margin-left: 10px;
    }
}

