#loadingContainer {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    height: 100%;
    width: 100%;
    position: relative;
}

#gameContainer canvas {
    z-index: 1;
    bottom: 0;
}

#gameHud {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    top: 0;
    user-select: none;
    overflow: hidden;
}

#gameHud .identity {
    position: absolute;
    top: 10%;
    left: calc(50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
}

#gameHud .identity#one {
    left: calc(40%);
}

#gameHud .identity#two {
    left: calc(60%);
}

@keyframes bigAlert_text {
    from {
        transform: translateX(-100vw);
    }

    20% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}

@keyframes bigAlert_background {
    from {
        transform: translateY(-50%) scaleY(0);
    }

    10% {
        transform: translateY(-50%) scaleY(1);
    }

    90% {
        transform: translateY(-50%) scaleY(1);
    }

    to {
        transform: translateY(-50%) scaleY(0);
    }
}

.bigAlertAnimation {
    animation-name: bigAlert_background;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.bigAlertAnimation p {
    animation-name: bigAlert_text;
    animation-duration: 3.2s;
    animation-delay: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

#bigAlert p {
    margin: 0;
    transform: translateX(100vw);
}

#bigAlert {
    background-color: #000000;
    color: white;
    top: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    font-size: xx-large;
    transform: translateY(-50%) scaleY(0);
    padding: 2rem;
}

#userIdentity {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
}

#endGameContainer {
    position: absolute;
    background-color: #00000000;
    z-index: 3;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#endGame {
    background: rgb(51, 51, 51);
    color: white;
    height: 10%;
    width: 50%;
    border-radius: 2em;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(100vh);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

@keyframes bgAnim {
    from {
        background-color: #00000000;
    }

    to {
        background-color: #00000075;
    }
}

@keyframes cardAnim {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

.endGameBgTrigger {
    display: flex !important;
    animation-name: bgAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.endGameCardTrigger {
    display: flex !important;
    animation-name: cardAnim;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#endGame p,
#endGame h2 {
    margin: 0;
}
