@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.img-leaderboard
{
    margin-right: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.title-leaderboard
{
    color: grey;
}
