.auth-card
{
    background-color: rgb(197, 197, 197);
    border-radius: 10px;

    h1
    {
        text-align: center;
        color: rgb(54, 54, 54);
    }

    h3
    {
        text-align: center;
        color: rgb(54, 54, 54);
    }

    .code-input
    {
        width: 100%;
        color: grey;
    }
}