@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.chatJoinContainer
{
    color: white;
    font-size: 25px;
    margin: 20px 0 0 10px;
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    width: 400px;
    background-color: rgb(150, 106, 106);
}