@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.chan-list {
    font-family: "Josefin Sans", sans-serif;

    .header-text {
        color: rgb(201, 201, 201);
    }

    .chan-text {
        color: white;
    }
}
