@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

@import "node_modules/bootstrap/scss/functions";

$body-bg: #282c34;
$body-color: white;

$font-family-base: "Josefin Sans", sans-serif;
$light: #686868;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
}

.gap-row-1 {
    row-gap: 1rem;
}

.object-cover {
    object-fit: cover;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.w-8 {
    width: 2rem;
}

.w-16 {
    width: 4rem;
}

.h-16 {
    height: 4rem;
}

.w-32 {
    width: 8rem;
}

.gap-y-2 {
    row-gap: 0.5rem;
}

.gap-x-2 {
    column-gap: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}
