@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

$body-bg: #282c34;
$body-color: white;

$font-family-base: "Josefin Sans", sans-serif;
$light: #686868;

@import "node_modules/bootstrap/scss/bootstrap";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.gap-row-1 {
    row-gap: 1rem;
}

.object-fill {
    object-fit: cover;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.w-8 {
    width: 2rem;
}

.w-32 {
    width: 8rem;
}
