.welcome-bar
{
    .desc
    {
        color: grey;
    }

}

.play-button
{
    border-radius: 5px;
    width: 10rem;
    align-items: center;
    text-decoration: none;

    .text
    {
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: bolder;
        transition: 0.2s;
    }

    .text:hover
    {
        color: rgb(105, 105, 105);
        transition: 0.2s;
    }
}

.game-view
{
    color: white;
    transition: 0.2s;
}

.game-view:hover
{
    color: red;
    transition: 0.2s;
}

.game-title
{
    color: grey;
}