.welcome-bar {
    .desc {
        color: grey;
    }

    .img {
        filter: brightness(1) invert(0.6);
    }
}

.play-button {
    border-radius: 5px;
    align-items: center;

    p {
        padding: 0.2rem;
        text-decoration: none;
        color: white;
        font-size: xx-large;
        font-weight: bolder;
        margin: 0;
        white-space: nowrap;
        transition: 0.2s;
    }
}

.play-button:hover p {
    color: rgb(105, 105, 105);
}

.game-view {
    color: white;
    transition: 0.2s;
}

.game-view:hover {
    color: red;
    transition: 0.2s;
}

.game-title {
    color: grey;
}

.player-logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
