@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.chat-view {
    color: white;
    font-family: "Josefin Sans", sans-serif;

    row-gap: 1rem;
}

.members {
    .member-links {
        color: rgb(214, 214, 214);

        .member-img {
            border-radius: 50%;
            height: 25px;
            width: 25px;
        }
    }
}
