
.chat-view {
    color: white;
    row-gap: 1rem;

    .chan-type
    {
        color: rgb(83, 83, 83);
    }
}

.members {
    .member-links {
        color: rgb(214, 214, 214);

        .member-img {
            border-radius: 50%;
            height: 25px;
            width: 25px;
        }
    }

    .member-edit
    {
        color: rgb(255, 224, 123);
        background-color: transparent;
        border: none;
    }
}

.user-tag
{
    color: rgb(136, 136, 136);
}

.del-msg
{
    transform: scale(0.8);
}