@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.matchesContainer
{
    color: white;
}

.title
{
    color: rgb(187, 187, 187);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
}

td
{
    vertical-align: middle;
    font-size: 22px;
}

.imgMatches
{
    margin-right: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
