.friendsContainer
{
    color: white;

    h1
    {
        color: rgb(187, 187, 187);
        font-family: 'Josefin Sans', sans-serif;
        margin-left: 10px;
    }
}

.friendList
{
    align-items: center;
    margin-top: 30px;
}

.friendTab
{
    height: 75px;
    max-width: 500px;
    border-radius: 30px;

    background: linear-gradient(90deg, #3a528a 0%, #2a457c 100%);
    margin-bottom: 15px;
    margin-left: 20px;
    display: flex;

    .pic
    {
    
        height: 60px;
        width: 60px;
        border-radius: 20px;

        margin-top: 8px;
        margin-left: 10px;
    }

    .user
    {
        color: white;
        align-items: center;
        flex: 1;

        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    
        text-decoration: none;
    }

    .status
    {
        flex: 1;
        margin-top: 25px;
        margin-left: 60px;

        .Ondot
        {
            color: greenyellow;
            margin-left: 10px;
            margin-bottom: 2px;
        }

        .Offdot
        {
            color: red;
            margin-left: 10px;
            margin-bottom: 2px;
        }
    }
}