body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.navbar
{
    text-align: center;
}

.link
{
    margin: 30px;

    text-decoration: none;
    width: 250px;
    height: 50px;
    font-size: 32px;
    background-color: rgb(153, 153, 153);
    border-color: black;
    background-color: rgb(73, 73, 73);
    border-color: rgb(117, 117, 117);
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(212, 212, 212);
    font-weight: 900;
    align-items: center;
    text-align: center;
    
    transition: 0.5s;
}

.link:hover
{
    background-color: rgb(212, 212, 212);
    color: rgb(73, 73, 73);
    transition: 0.5s;
}