#navbutton
{
    margin: 30px;

    width: 250px;
    height: 50px;
    font-size: 32px;
    background-color: rgb(153, 153, 153);
    border-color: black;
    background-color: rgb(73, 73, 73);
    border-color: rgb(117, 117, 117);
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(212, 212, 212);
    font-weight: 900;
    align-items: center;
    text-align: center;
    
    transition: 0.5s;
}

#navbutton:hover
{
    background-color: rgb(212, 212, 212);
    color: rgb(73, 73, 73);
    transition: 0.5s;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}